*{
    margin: 0%;
    padding: 0%;
}
.container{
    /* border: 2px solid red; */
    /* background-color: #006a5e; */
    height: 100vh;
    background-image: url(https://img.freepik.com/premium-vector/green-navigation-pins-city-street-map_6735-371.jpg?w=996);
    opacity: .90;

    background-size: cover;
    
}
.navbar{
    /* border: 2px solid red; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 2px solid rgb(255, 254, 254);
}
.nav ul{
    display: flex;
    /* margin-right: 50px; */
}
.nav li{
    margin-right: 60px;
    list-style: none;
}
.nav li a{
    color: rgb(255, 255, 255);   
    font-weight: bold; 
}
button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(32, 230, 164);
    color: white;
    font-weight: bold;
}
.containt{
    /* border: 2px solid red; */
    width: 40%;
    position: relative;
    left: 700px;    
    margin-top: 5%;
    color: white;
}
span{
    color: rgb(0, 255, 136);
}
.containt h1{
    font-size: 40px;
}
.containt p{
    margin-top: 5%;
    font-size: 20px;
}
.containt .btn{
    margin-top: 10%;
    cursor: pointer;
}
.containt button{
    font-size: 20px;

}
.footer{
    /* border: 2px solid red; */
    background-color: #0f1b35;
    color: white;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: 200px;
    margin: auto;
    /* margin-top: 50px; */
    padding-top: 20px;
}
.footer p{
    width: 60%;
    margin: auto;
}

.numbers ul{
    /* border: 2px solid red; */
    margin-top: 5%;
    display: flex;
    justify-content: center;
    position: relative;
    /* margin-right: 50px; */
}
.numbers h1{
    color: rgb(0, 255, 136);
    font-size: 40px;
}
.numbers span{
    color: white;
}
.numbers li{
    /* border: 2px solid red; */
    margin-right: 60px;
    list-style: none;
    margin-right: 150px;
    justify-content: center;
}
